@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.bettingInfo {
  font-family: "Open Sans";
  padding-top : 55px;
  padding-left : 10px;
}
.bettingInfo .label {
  font-size : 18px;
  color : #2c2c54;
  display : inline-block;
}
.bettingInfo .info {
  font-size : 18px;
  color : #40407a;
  display : inline-block;
  margin-left : 10px;
}
.row_margin {
  margin-bottom : 5px;
}
