<section class="bettingInfo">
  <div class="row_margin">
    <div class="label">
      Username :
    </div>
    <div class="info">
      {{user_name}}
    </div>
  </div>

  <div class="row_margin">
    <div class="label">
      Available Balance :
    </div>
    <div class="info" id="userBal">
      {{user_balance}}$
    </div>
  </div>

  <div class="row_margin">
    <div class="label">
      Last Win :
    </div>
    <div class="info" id="user_last_win">
      {{user_last_win}}$
    </div>
  </div>

  <div class="row_margin">
    <div class="label">
      Total Win :
    </div>
    <div class="info" id="user_total_win">
      {{user_total_win}}$
    </div>
  </div>

  <div class="row_margin">
    <div class="label">
      Total Bet :
    </div>
    <div class="info" id="user_total_bet">
      {{user_total_bet}}$
    </div>
  </div>

  <div class="row_margin">
    <div class="label">
      Session Date, Time :
    </div>
    <div class="info">
      {{session_date}}
    </div>
  </div>

</section>
