<section class="bettingInfo">
  <div class="continer_betting">
    <div id="row_1">
      <div class="label">
        Single Bet :
      </div>
      <div class="info">
        &nbsp;1:35
      </div>
    </div>

    <div id="row_2">
      <div class="label">
        1st Column :
      </div>
      <div class="info">
        &nbsp;1:2
      </div>
    </div>

    <div id="row_3">
      <div class="label">
        2nd Column :
      </div>
      <div class="info">
        &nbsp;1:2
      </div>
    </div>

    <div id="row_4">
      <div class="label">
        3rd Column :
      </div>
      <div class="info">
        &nbsp;1:2
      </div>
    </div>

    <div id="row_5">
      <div class="label">
        First Dozen :
      </div>
      <div class="info">
        &nbsp;1:2
      </div>
    </div>

    <div id="row_6">
      <div class="label">
        Second Dozen :
      </div>
      <div class="info">
        &nbsp;1:2
      </div>
    </div>

    <div id="row_7">
      <div class="label">
        Third Dozen :
      </div>
      <div class="info">
        &nbsp;1:2
      </div>
    </div>

    <div id="row_8">
      <div class="label">
        1 to 18
      </div>
      <div class="info">
        &nbsp;1:1
      </div>
    </div>

    <div id="row_2">
      <div class="label">
        19 to 36:
      </div>
      <div class="info">
        &nbsp;1:1
      </div>
    </div>

    <div id="row_2">
      <div class="label">
        Odd,Even,Red,Black :
      </div>
      <div class="info">
        &nbsp;1:1
      </div>
    </div>


  </div>
  <div class="rights">
    Developped By <a href="https://github.com/yassintaktak">Yessine Taktak</a>
  </div>
</section>
